*.cgi
test/web/huge.txt
test/web/tmp/
test/app/
test/cache/
test/cgi-bin/*cgi*
test/cgi-bin/testScript
/test/esp/html-mvc/cache
test/regress/tcp
test/cgi-bin/.prepared
test/future.json
test/test.dat
samples/certs
test/tmp/test.dat
test/tmp/*
src/server/certs
.port.log
*.guid
test/exploits/
start.me
testme/
projects/*/*.guid
projects/.*.guid
projects/*-macosx-mine*
/start.me
test/cgi-bin/.prepared
test/future.json
test/test.dat
/projects/*mine*
/projects/.vs
/projects/*yours*
/test/.test-prepared
/cache/
/build
/projects/setenv.bat
samples/chroot-server/server
/projects/appweb-core*
XCBuildData/
app-macosx-debug.xcodeproj
Debug/
samples/*/client
samples/*/roots.crt
cache/
.local.mk
src/utils/fcgi
test/web/big*.txt
test/web/huge*.txt
test/web/*K.txt
test/web/*M.txt
test/fast-bin
test/trace.log*
test/error.log*
test/proxy.err
test/proxy.log
test/j*.conf
php.log
t.es
.cdrc
.profile
*.dmp
src/server/web/1*.txt
